.calc {
    max-width: 8.8em;
}
.calc-body {
    display: grid;
    grid-template: repeat(5, 2.2em) / repeat(4, 2.2em);
    margin: 10px 0;
}

button {
    width: 2em;
    height: 2em;
    margin: 0.1em;
    border-radius: 40%;
}

button:hover {
    background-color: rgb(68, 68, 68);
    color: white;
}

#screen {
    border: solid 1px black;
    height: 1em;
}