.calc {
    max-width: 8em;
}
.calc-body {
    display: grid;
    grid-template: repeat(5, 2em) / repeat(4, 2em);
}

.calc-btn {
    font-family: Arial, Helvetica, sans-serif;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(195, 195, 195);
}

.calc-btn:hover {
    background-color: rgb(68, 68, 68);
    color: white;
}

#calc-screen {
    padding: 0.2em;
    background-color: #a6ada4;
    height: 1.8em;
    text-align: right;
    padding-right: 0.1em;
}

#top-screen {
    font-size: 0.6em;
}

#top-screen::after {
    content:"";
    display:inline-block;
    width:0px;
}